*{margin: 0; padding: 0;}
body{
    margin: 0;
    background-image: url(pictures/backgrounds/old_paper_texture_by_lex2flex-d5qxjw5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}
#header {
    background-color: blanchedalmond;
    height: 50px;
    width: 100%;
}
#logo {
    position: absolute;
    float: left;
    left: 10px;
    top: 5px;
}

.header_logo {
    height:90px;
}
.metro {
    height: 30px;
    vertical-align: middle;
}
#address {
    position: relative;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}
#main {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.main_menu{
    list-style: none;
    background-size: 100%;
    box-shadow: inset 0 0 0 1000px rgba(127, 56, 3, .5);
    margin-top: 0;
    text-align: center;
}
.main_menu li {
    display: inline-block;
    margin-right: 10px;
}
.main_menu a {
    display: block;
    padding: 8px 10px 8px;
    color: black;
    font-size: 40px;
    text-decoration: none;
}
/*.main_logo {*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -160px;*/
    /*margin-left: -207.5px;*/
    /*height: 320px;*/
    /*width: 415px;*/
/*}*/
#selection {
    margin-top: 170px;
}

#selection div {
    font-size: 15pt;
    display: inline-block;
    width: 33.3%;
}
.big_picture {
    width: 100%;
}

.social_main {
    width: 100px;
    position: absolute;
    top: 32px;
    right: 50px;
}
.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: blanchedalmond;
    background-size: 40px 40px;
    border-radius: 8px;
}
.social-vk {
    background-image: url(pictures/logo/vk.jpg);
}
.social-insta {
    background-image: url(pictures/logo/instagram.jpg);
}
.picture_header {
    text-align: center;
    padding-bottom: 25px;
}
#about_us {
    //background-image: url("pictures/backgrounds/fire_paper.png");
    //background-repeat: no-repeat;
    //background-size: 100%;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
h1 {
    text-align: center;
}
h2 {
    margin-bottom: 2%;
}
.russian_text {
    margin-top: 3%;
}

.nastolki {
    float: left;
    width: 40%;
    border-radius: 90px;
    padding: 0 50px 0 50px;
}
.r_text {
    display: block;
    float: left;
    text-align: left;
    //font-size: 140%;
}

.uiut {
    float: right;
    clear: left;
    width: 35%;
    border-radius: 90px;
    padding: 0 50px 0 50px;
}
.e_text {
    display: block;
    float: right;
    text-align: right;
    padding-top: 20px;
}
p {
    font-size: 140%;
    line-height: 33px;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

#renta {
    margin-top: 10%;
}
.two_columns,
.rent_title {
    margin-top: 3%;
    padding: 0 3% 0 3%;
}
.two_columns_left {
    display: inline-block;
    padding-right: 0;
    width: 41%;

}
.two_columns_right {
    display: inline-block;
    vertical-align: top;
}
.top_rent_space {
    text-align: center;
    margin-top: 5%;
}
span {
    white-space: nowrap;
}
.bold {
    font-size: larger;
    font-weight: bold;
}
.three_areas {
    text-align: center;
    margin-top: 5%;
}
.zaly {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.properties {
    width: 48%;
    padding-left: 23px;
}
.underline {
    text-decoration: underline;
    font-weight: bold;
}
.sprites {
    text-align: center;
}
.sprites>div {
    padding-top: 20px;
    vertical-align: top;
    width: 160px;
    display: inline-block;
}
.sprites>div>img {
    height: 50px;
    display: block;
    margin: 0 auto;
}
.sprites>div>p {
    padding-top: 10px;
    line-height: 20px;
    text-align: center;
}